<h1>Create a review</h1>
<form method="post" action="/review/new">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= review.title %>">
  </div>

  <div>
    <label>Body: </label>
    <textarea name="body"><%= review.body %></textarea>
  </div>
  <button>submit</button>
</form>